<div class="row justify-content-start mt-3 mb-3">
    <div class="col-lg-12 col-xl-12">
        {% if new_attempt_form.characterId.vars.choices|length > 0 %}
        <form method="{{ new_attempt_form.vars.method }}" id="{{ new_attempt_form.vars.id }}" name="{{ new_attempt_form.vars.full_name }}">
            <div class="mb-3">
                <label class="form-label" for="{{ new_attempt_form.characterId.vars.id }}">{{ new_attempt_form.characterId.vars.label }}</label>
                <select class="form-select" id="{{ new_attempt_form.characterId.vars.id }}" name="{{ new_attempt_form.characterId.vars.full_name }}">
                {% for choice in new_attempt_form.characterId.vars.choices %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
                {% endfor %}
                </select>
            </div>
            {% if has_cause_of_death == 0 %}
            <div class="mb-3">
                <label class="form-label" for="{{ new_attempt_form.causeOfDeath.vars.id }}">{{ new_attempt_form.causeOfDeath.vars.label }}</label>
                <input class="form-control" id="{{ new_attempt_form.causeOfDeath.vars.id }}" name="{{ new_attempt_form.causeOfDeath.vars.full_name }}" value="{{ new_attempt_form.causeOfDeath.vars.value }}" type="text" minlength="3" maxlength="255" placeholder="Cause of death">
                {% if new_attempt_form.causeOfDeath.vars.errors|length > 0 %}
                <div class="alert alert-danger mt-1" role="alert">
                    {{ new_attempt_form.causeOfDeath.vars.errors }}
                </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="mb-3">
                <button class="btn btn-secondary d-block w-10" id="{{ new_attempt_form.submit.vars.id }}" name="{{ new_attempt_form.submit.vars.full_name }}">{{ new_attempt_form.submit.vars.label }}</button>
            </div>
            <input id="{{ new_attempt_form.children._token.vars.id }}" name="{{ new_attempt_form.children._token.vars.full_name }}" value="{{ new_attempt_form.children._token.vars.value }}" type="hidden">
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            <p class="m-1">You have no active characters! Please start a new character!</p>
        </div>
        {% endif %}
    </div>
</div>
