<div class="row justify-content-start mt-3 mb-3">
    <form method="post">
        <div class="mb-3">
            <label for="name-1" class="form-label">Name</label>
            <input id="name-1" class="form-control" type="text" name="name" placeholder="Character Name">
        </div>
        <div class="mb-3">
            <label for="bio-1" class="form-label">Bio</label>
            <textarea id="bio-1" class="form-control" rows="6" name="bio" placeholder="is a..."></textarea>
        </div>
        <div class="mb-3">
            <label for="role-1" class="form-label">Role</label>
            <select class="form-select">
                <option selected>Select...</option>
                {% for role in roles %}
                    <option value="{{ role.id }}">{{ role.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="primaryJob-1" class="form-label">Primary Job</label>
            <select class="form-select">
                <option selected>Select...</option>
                {% for job in primary_jobs %}
                    <option value="{{ job.id }}">{{ job.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="secondaryJob-1" class="form-label">Secondary Job</label>
            <select class="form-select">
                <option selected>Select...</option>
                {% for job in secondary_jobs %}
                    <option value="{{ job.id }}">{{ job.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="profilePicture-1" class="form-label">Profile Picture</label>
            <input class="form-control" type="file" id="profilePicture-1">
        </div>
        <div>
            <button class="btn btn-secondary d-block w-10" type="submit">Start</button>
        </div>
    </form>
</div>
